body {
    font-family: 'Roboto', sans-serif;
    background: linear-gradient(-45deg, #d3f0fb, #cef6ec, #f7cdc1, #facedf);
    background-size: 400% 400%;
    animation: gradientBG 15s ease infinite;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

@keyframes gradientBG {
    0% { background-position: 0% 50%; }
    50% { background-position: 100% 50%; }
    100% { background-position: 0% 50%; }
}

.content-container {
    background-color: #1D614F;
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    text-align: center;
    max-width: 300px;
}

input[type="text"],
input[type="password"] {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-sizing: border-box;
}

input[type="submit"] {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    background-color: #BCFFD3;
    color: #1D614F;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

input[type="submit"]:hover {
    background-color: #A0D9B5;
}

p {
    color: #fffefb;
}

a {
    color: #FFD700;
    text-decoration: none;
}
